svg {
    font: 15px Times;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
#row{
    position:absolute;
    top: 0px;
    width:1900px;
    height:300px;
}
.geospatial0 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:300px;*/
    /*height:410px;*/
}
.geospatial1 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:0px;*/
    height:410px;
}
.geospatial2 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:300px;*/
    /*height:410px;*/
}
.geospatial3 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:300px;*/
    /*height:410px;*/
}
.geospatial4 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:300px;*/
    /*height:410px;*/
}
.geospatial5 {
    float: left;
    top: 0px;
    position:relative;
    /*border: 1px solid black;*/
    /*left: 10px;*/
    /*position:absolute;*/
    /*width:300px;*/
    /*height:410px;*/
}
#report_line{
    /*float: left;*/
    /*border: 1px solid black;*/
    position:absolute;
    top: 350px;
    width:2200px;
    height: 260px;
}

#heatmap{
    /*float: left;*/
    /*border: 1px solid black;*/
    position:absolute;
    top: 600px;
    width:2200px;
    height:2000px;

}
.foreground path {
    fill: none;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axises line,
.axises path {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}

.header {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: lightblue 3px 2px 0;
    position: absolute;
    top: 0;
    left: 1px;
    width:1900px;
    height:40px;
    text-align: center;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;

}
.header{
    background-color: black;
}


#chart-area{
    float: left;
    /*border: 1px solid black;*/
    position:absolute;
    width:900px;
    height:600px;
}
.filter{
    top:40px;
    width:700px;
    height:80px;
}

/*Slider style*/
input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
    -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
    0 0 0 1px hsla(0,0%,0%,.6),
    0 2px 3px hsla(0,0%,0%,.6),
    0 4px 3px hsla(0,0%,0%,.4),
    0 6px 6px hsla(0,0%,0%,.2),
    0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    position: relative;
    width: 10px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: lightgray;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
    0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: green;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
    inset 0 2px 2px hsla(0,0%,100%,.4),
    0 1px 1px hsla(0,0%,100%,.8),
    0 0 2px 2px hsla(0,70%,70%,.4);
}
input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    top: 5px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;

}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
    /*transform: rotate(90deg);*/
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}
h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: left;

}


#slider-time{
    position: relative;
    width: 200px;
    height: 100px;
}

.col-sm-1{
    position: relative;
    width: 200px;
    height: 100px;
}

#slider-simple{
    position: absolute;
   top: 600px;
}
#legend-chart {
    position: absolute;
    top: 50px;
    left: 300px;
}
/*div.tooltip {*/
    /*position: absolute;*/
    /*top: 205px;*/
    /*left:1220px;*/
    /*text-align: left;*/
    /*width: 120px;*/
    /*height: 130px;*/
    /*padding: 2px;*/
    /*font: 12px sans-serif;*/
    /*background: lightsteelblue;*/
    /*border: 0px;*/
    /*border-radius: 8px;*/
    /*pointer-events: none;*/
/*}*/

.heatmap_tooltip {
    text-align: center;
    font-family: monospace;
    font-size: 8pt;
    color: #000;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border: 4px solid #66F;
    padding: 5px;
    border-radius: 8px ;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-top-left-radius: 8px;
    -khtml-border-top-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100px;
    z-index:10000;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.heatmap_tooltip:after, .heatmap_tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.heatmap_tooltip:after {
    border-color: rgba(236, 240, 241, 0);
    border-top-color: #FFFFF;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.heatmap_tooltip:before {
    border-color: rgba(44, 62, 80, 0);
    border-top-color: #66F;
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
}

text.hover {
    font-size: 30px;
    font-weight: bold;
    fill: #66F;
    font-background: #000;
}

.geoNuclear{
    fill: #fcce1f;
    stroke: black;
    r: 12px;
}

.geoHospitals {
    fill: red;
    r: 5px;
}

#button1 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 52px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
}

#button2 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 64px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 50px;
    left: 300px;
    cursor: pointer;
}

#button3 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 64px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 50px;
    left: 500px;
    cursor: pointer;
}

#button4 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 60px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 50px;
    left: 700px;
    cursor: pointer;
}
#button5 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 60px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 50px;
    left: 900px;
    cursor: pointer;
}
.grid {
    font-size: 8px;
}

#button1:hover {background-color: deepskyblue;
}

#button2:hover {background-color: deepskyblue;
}

#button3:hover {background-color: deepskyblue;
}

#button4:hover {background-color: deepskyblue;
}

#button5:hover {background-color: deepskyblue;
}

.area{
    fill: grey;
}
.area_heat{
    fill: steelblue;
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

